@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: #05003b;
	color: #fff;
	margin: 0 auto;
	overflow-x: hidden;
	max-width: 900px;
	width: 80vw;
}

.navbar-container {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.navbar-container img {
	width: 150px;
}

.pokedex-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.pokedex-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.pokemon-card {
	display: flex;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	color: #000;
	border-radius: 3px;
}

.pokemon-image {
	width: 70px;
	height: 70px;
	margin-right: 10px;
}

.pokemon-image-container {
	padding: 0px 5px;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 10px 10px 0px;
	flex: 1;
}

.card-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card-top h3 {
	text-transform: capitalize;
}

.card-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.pokemon-type {
	display: flex;
}

.pokemon-type-text {
	margin-right: 10px;
	text-transform: capitalize;
}

.pagination-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.pokemon-heart-btn {
	border: none;
	background-color: white;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 4px;
	cursor: pointer;
}

.not-found-text {
	text-align: center;
	font-size: 30px;
	padding: 20px;
}

.searchbar {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.searchbar input {
	padding: 2px 4px;
	outline: none;
	width: 300px;
}

.searchbar button {
	padding: 4px 15px;
	font-weight: 700;
	background-color: rgb(226, 87, 0);
	color: #fff;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

.searchbar button:hover {
	background-color: rgb(255, 149, 1);
}

footer {
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

@media (max-width: 950px) {
	.pokedex-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 630px) {
	.pokedex-grid {
		grid-template-columns: 1fr;
	}

	.pokedex-header h1 {
		font-size: 25px;
	}
}
